:root {
}
.add-product-form {
	width: 650px;
	margin-inline: auto;
	padding: 3rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.account-info-outer-con {
	max-width: 800px;
	margin: 1rem auto;
	padding: 3rem 2rem;
	display: flex;
	flex-direction: column;
	border: 1px solid #0000002d;
	border-radius: 0.5rem;
}
.item-info-outer-con {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: fit-content;
	margin-inline: auto;
	padding: 6rem 1rem;
	gap: 4rem;
}
.quantity-button-container {
	border-radius: 6px;
	border: 1px solid #0000002d;
	overflow: hidden;
	max-width: max-content;
	display: flex;
}
.quantity-button-container > * {
	padding: 0.5rem 1rem;
	border: none;
}
.quantity-button-container button:active {
	background-color: #ddd8d8;
}
